@media (min-width: 700px) {
  :root {
    font-size: 50%;
  }
  .conhecimentos-img-wrapper img {
    display: block;
    visibility: hidden;
  }
  .card-img-wrapper {
    width: 140px;
    /* background: local; */
  }
}

@media (max-width: 699px) {
  :root {
    font-size: 40%;
  }
  .conhecimentos-img-wrapper img {
    display: block;
    visibility: hidden;
  }
  .card-img-wrapper {
    width: 110px;
    /* background: local; */
  }
}
